@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
    box-sizing: border-box;
    background-color: #2d2d2b;
    color: #b0b0b0;

}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.titulo-destaque {
    color: #b8926b;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    /* line-height: 56px; */
}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #b8926b;
    width: 280px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    color: #2d2d2b;
    font-family: 'Montserrat', sans-serif;
}

/* img {
    width: 615px;
} */